#homesection{
    height: 100vh;
}
#profilesection{
    height: 100vh;
}
#educationsection{
    height: 100vh;
}
#projectssection{
    height: 100vh;
}
#contactsection{
    height: 100vh;
}